@model Sues.Models.StudyGroup.StudyGroupEditModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/myStyle.css" rel="stylesheet" />
<h2>Редактировать учебную группу</h2>
<br>
<div class="row tabbable">
    <div class="@MyStyles.FormColumn">
        @using (Html.BeginForm("Edit","StudyGroup", FormMethod.Post, new { @class = "form-horizontal", }))
        {
            <input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@Model.ReturnUrl" />
            <input type="hidden" id="TeacherId" name="TeacherId" value="@Model.TeacherId" />
            <input type="hidden" id="TeacherName" name="TeacherName" value="@Model.TeacherName" />
            <input type="hidden" id="CourseId" name="CourseId" value="@Model.CourseId" />
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />

            <fieldset>

                <div class="form-group">
                    <label class="@MyStyles.FormLabel">Преподователь:</label>
                    <div class="@MyStyles.FormControl"><div class = "form-control" style = "max-width: 280px; border: none;" >@Model.TeacherName</div></div>
                </div>

                <div class="form-group">
                    <label class="@MyStyles.FormLabel">Наименование:<br /><span style="color:red; font-size: 12px">@Html.ValidationMessageFor(x => x.Name)</span></label>
                    <div class="@MyStyles.FormControl">@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })</div>
                </div>

                <div class="form-group">
                    <div class="@MyStyles.FormLabel"></div>
                    <div class="@MyStyles.FormControl">
                        <input type="submit" value="Сохранить" class="btn btn-primary" />
                        <a href="@Model.ReturnUrl" class="btn btn-default">Отмена</a>
                    </div>
                </div>
            </fieldset>

            if (Model.StudentList != null && Model.StudentList.Count() > 0)
            {
                <table class="table table-striped table-hover table-bordered rt-table">
                    <thead>
                        <tr>
                            <th class="rt-table-col-id">ID</th>
                            <th>Студент</th>
                            <th>Организация</th>
                            <th class="rt-table-col-actions"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.StudentList)
                        {
                            <tr>
                                <td class="rt-table-col-id">@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.OrganizationName</td>
                                <td class="rt-table-col-actions">@Html.ActionLink("Удалить из группы", "Delete", "EmployeeInStudyGroup", new { id = item.Id, returnUrl = Request.RawUrl }, new { @class = "btn btn-edit", @onclick = "if(!confirm('Вы уверены, что хотите удалить элемент?')) { return false; }" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
                
            }
            else
            {
                <h3>
                    Записей не найдено
                </h3>
            }
            <div>@Html.ActionLink("Добавить студента", "Add", "EmployeeInStudyGroup", new { studyGroupId = Model.Id, returnUrl = Request.RawUrl }, new { @class = "btn btn-primary" })</div>
        }
    </div>
</div>

